h1 {
    text-align: center;
    font-size: 40px;
}
.grid-container {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 100px;
    border: black 4px solid;
  }

  .grid-item1 {
    background: skyblue;
    text-align: center;
    grid-column-start: 1; 
    grid-column-end: 5; 
    grid-row-start: 1; 
    grid-row-end: 1;
  }
  
  .grid-item2 {
    background: skyblue;
    text-align: center;
    grid-column-start: 3; 
    grid-column-end: 5; 
    grid-row-start: 2;
    padding-bottom: 40px;
  }
  .grid-item3 {
    text-align: center;
    background: skyblue;
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 2;
  }